.container {
    display: flex;
    border: thick double red;
    align-items: center;
    flex-direction: column;

}

.headerSub {
    justify-content: center;
    border: thick double pink;

}

.headerSub p {
    font-style: italic;
    justify-content: center;
    padding-left : 20%;
}

.images {
    padding-top : 50px;
    padding-bottom: 50px;
}












/*hover css, taken from w3*/
img:hover { 
    animation: Shake 0.5s linear infinite; 
} 
  
/*Using keyframes for shaking an image*/
@keyframes Shake { 
    0% { 
        transform: rotate(5deg); 
    } 
  
    25% { 
        transform: rotate(-6deg); 
    } 
  
    50% { 
        transform: rotate(5deg); 
    } 
  
    75% { 
        transform: rotate(-6deg); 
    } 
  
    100% { 
        transform: rotate(5deg); 
    } 
}